input{
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    background: transparent;

    input:focus{
        outline: none;
        border: none;
    }

    input:valid{
        outline: none;
        border: none;
        
    }
}