@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Jost';
}

body{
    background-color: white;
    overflow-x: hidden;
    width: 100vw;
}

.container{
    margin: 0px auto;
    box-sizing: border-box;
    padding: 75px;
    display: flex;
    flex-direction: column;
    
    .logo{
        width: 50.36525rem;
        height: 13.375rem;
        margin: 0px auto;
    }

    .containerContact{
        position: relative;
        background-color: white;
        border-radius: 0.625rem;
        padding: 0.5%;
        overflow: hidden;
        margin: 6rem auto;
        box-shadow: 0px 4px 40px 5px rgba(0, 0, 0, 0.15);
        width: 70rem;
        height: 41.6875rem;
        display: flex;
    
        .infoContact{
            overflow: hidden;
            position: relative;
            width: 27.4375rem;
            height: 40.4375rem;
            padding: 20px;
            border-radius: 10px;
            color:white;
            background-color: #292F36;
            
            .listContact{
                margin-top: 3rem;

                .icon{
                    width: 1.68694rem;
                    height: 1.5rem;
                    margin-right: 15px;
                }

                li{
                    display: flex;
                    margin-bottom: 3rem;
                }

                p{
                    color: white;
                    font-size: 1rem !important;
                }
            }

            h2{
                font-size: 2rem;
                margin-bottom: 1rem;
                font-weight: bold;
            }
            
            p{
                font-size: 1.25rem;
                color: #C9C9C9;
            }

            .smallCircle{
                position: absolute;
                bottom: 4.5rem;
                right: 1.5rem;
                width: 8.625rem;
                height: 8.625rem;
                border-radius: 50%;
                background-color: white;
                opacity: 10%;
                transition: 300ms;
            }
            .smallCircle:hover{
                opacity: 15%;
                scale: 1.05;
            }
            .bigCircle{
                position: absolute;
                bottom: -5rem;
                right: -8rem;
                width: 16.8125rem;
                height: 16.8125rem;
                border-radius: 50%;
                background-color: white;
                opacity: 10%;
                transition: 300ms;
            }
            .bigCircle:hover{
                opacity: 15%;
                scale: 1.05;
            }
        }
        
        .formContact{
            padding: 15px;
            padding-left: 30px;
            color: black;
            width: 66%;
    
            form{
                display: flex;
                flex-wrap: wrap;
    
                input{
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    padding-left: 0px;
                }
    
                .inputGroup{
                    color: #333;
                    margin-bottom: 20px;
                    label{
                        font-size: 0.75rem;
                        line-height: 1.25rem;
                        transition: 150ms;
                        font-weight: bold;
                    }
                    input::placeholder{
                        color: #8D8D8D;
                        font-size: 0.875rem;
                        opacity: 70%;
                    }
                    input:focus{
                        box-shadow: none ;
                        border-bottom: 2px solid black;
                    }
                    label:focus-within {
                        font-size: 0.9rem;
                        font-weight: bold;
                    }
                    input{
                        font-weight: bold;
                        width: 90%;
                    }
                }
    
                .inputName{
                    flex: 50%;
                }
    
                .inputEmail{
                    flex: 100%;
                    input{
                        width: 45%;
                    }
                }
    
                .inputTitle{
                    flex: 100%;
                    input{
                        width: 95%;
                    }
                }

                .inputMessage{
                    width: 95%;
                    height: 100px;
                    textarea{
                        width: 100%;
                        overflow: hidden;
                        min-height: 6.3125rem;
                        resize: none;
                    }
                    textarea::placeholder{
                        color: #8D8D8D;
                        font-weight: normal;
                    }
                    textarea:focus{
                        box-shadow: none;
                        border: 2px solid black;
                    }
                }

                button{
                    background-color: #011C2A;
                    color: white;
                    border-radius: 3px;
                    display: flex;
                    width: 12.52506rem;
                    padding: 0.9375rem 3rem;
                    justify-content: center;
                    align-items: center;
                    gap: 0.625rem;
                    position: absolute;
                    bottom: 40px;
                    right: 40px;
                    transition: 250ms;
                }

                button:hover{
                    scale: 1.1;
                    font-weight: bold;
                }
            }
        }
    }

    .containerLocation{
        color: #434343;
        font-size: 4rem;
        font-weight: bold;
        width: 70rem;
        margin: auto;

        .containerMap{
            margin-top: 1.5rem;
            width: 70rem;
            height: 40.125rem;
            position: relative;
            .locationButton{
                position: absolute;
                bottom: 1.5rem;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 0.75rem;
                background: #B88E2F;
                width: 19.6875rem;
                height: 3.6875rem;
                padding: 1.125rem 2.25rem;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                font-weight: 700;
                color: white;
                transition: 300ms;
            }

            .locationButton:hover{
                width: 21rem;
                height: 4rem;
                font-size: 1.15rem;
                filter: brightness(110%);

            }
        }

        iframe{
            min-width: 100%;
            min-height: 100%;
        }
    }
}    

//mobile styling
@media (max-width:415px){
    body{

        .logo{
            justify-content: center;
            width: 22.75rem !important;
            height: 6.0625rem !important;
        }

        .containerContact{
            margin-top: 3rem !important;
            display: block !important;
            width: 22.75rem !important;
            height: 73rem !important;

            .infoContact{
                margin: 0px auto;
                width: 22rem !important;
                height: 28rem !important;
                text-align: center;
                h2{
                    font-size: 1.5rem !important;
                }
                p{
                    font-size: 0.75rem !important;
                    margin-bottom: 0px !important;
                }
                .infoDesc{
                    margin-bottom: 1.5rem !important;
                }

                .listContact{
                    margin-top: 0px !important;
                    li{
                        margin: 0px;
                        display: flex;
                        flex-direction: column;
                        font-size: 1rem !important;
                        img{
                            margin: -1rem auto 0px !important;
                            width: 1.5rem !important;
                            height: 1.5rem !important;
                        }
                    }
                }
            }
            .formContact{
                margin: 0px auto !important;
                width: 100% !important;
                .inputGroup{
                    flex: 100% !important;
                }
                .inputEmail{
                    input{
                        width: 90% !important;
                    }
                }
                .inputTitle{
                    input{
                        width: 90% !important;
                    }
                }
                .inputMessage{
                    textarea{
                        height: 10rem !important;
                        width: 90% !important;
                    }
                }
                button{
                    bottom: 1.5rem !important;
                    left: 50% ;
                    align-items: center !important;
                    margin: 0px auto !important;
                    transform: translateX(-50%) !important;
                }
            }
        }

        .containerLocation{
            width: fit-content!important;
            .box{
                width: fit-content;
            }
            .titleLocation{
                color: #434343;
                font-size: 2.5rem;
                margin: 0px auto !important;
                width : fit-content !important;
            }   

            .containerMap{
                width: 22.75rem !important;
                height: 40.125rem !important;
                iframe{
                    width: 100% !important;
                }
            }

        }
    }
}